@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
    color-scheme: light dark;
  } */
  html {
    font-family: 'Work Sans Variable', 'Noto Serif', 'Source Sans Pro',system-ui, sans-serif;
    font-display: swap;
  }
  body {
    color: #1D1735;
    margin: 0;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
  }