/* src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

  
  font-family: 'Work Sans Variable', 'Noto Serif', 'Source Sans Pro', system-ui, sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
}

body {
  color: #1D1735;
  display: flex; /* Use flexbox to center the content */
  flex-direction: column;
}




@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Animaciones personalizadas */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.splineContainer{
  	border-radius:  0.5rem;
    margin-top: -20px;
    
  }