---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedInTabler.astro";
import SocialPills from "../components/SocialPills.jsx";
import MailIcon from "../icons/Mail.astro";
import GithubIcon from "../icons/Github.astro";
import WhatsappIcon from "../icons/Whatsapp.astro";
import Experience from "../components/Experience.jsx";
import SectionContainer from "../components/SectionContainer.astro";
import Arrow from "../icons/Arrow.astro";
import Bifcase from "../icons/Bifcase.astro";
import Certificate from "../icons/Certificate.astro";
import Card from "../components/Card.astro";
import Areas from '../components/BentoGridImg.jsx';


const areas = [
  {
    id: "1",
    title: "Web Design",
    colItem: "lg:col-span-2  md:col-span-2 sm:col-span-1",
    bgColor: "bg-[#c5b6d1] dark:bg-[#343037]",
    textColor: "text-[#343037] dark:text-[#c5b6d2]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1oWeb.webp?alt=media&token=7df9723e-ef97-4bac-823d-e3ccd377f45b",
    link: "/web-design",
    classImg:"rounded-lg",
    
  },
  {
    id: "2",
    title: "Graphic Design",
    colItem: "lg:col-span-2 md:col-span-2 sm:col-span-1",
    bgColor: "bg-[#2f413a] dark:bg-[#21302b]",
    textColor: "text-[#feebde] dark:text-[#feebde]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1o%20Grafico%20(2).webp?alt=media&token=4526b817-ecb5-4fb2-8317-f4ffda77d235",
    link: "/graphic-design",
    classImg:"rounded-lg",
    
  },
  {
    id: "3",
    title: "Editorial Design",
    colItem: "lg:col-span-3 md:col-span-3 sm:col-span-1",
    bgColor: "bg-[#95acca] dark:bg-[#22282e]",
    textColor: "text-[#22282e] dark:text-[#95acca]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Dise%C3%B1o-Editorial-Pj.webp?alt=media&token=4f812bd9-06bb-4532-9881-a62679e8ae3c",
    link: "",
    classImg:"rounded-lg",
    
  },
  {
    id: "4",
    title: "Personal",
    colItem: "lg:col-span-1 md:col-span-1 sm:col-span-1",
    bgColor: "bg-[#fed4bd] dark:bg-[#220902]",
    textColor: "text-[#220902] dark:text-[#fed4bd]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Foxy-Blink.gif?alt=media&token=6fdef4b7-2f2f-4fbd-94a0-65a59868bfee",
    link: "",
    classImg:"rounded-lg",
    
  },
  {
    id: "5",
    title: "Photography and Video",
    colItem: "lg:col-span-4 md:col-span-4 sm:col-span-1",
    bgColor: "bg-[#a3cd9c] dark:bg-[#293327]",
    textColor: "text-[#293327] dark:text-[#a3cd9c]",
    img: "https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Fotograf%C3%ADa.webp?alt=media&token=3a0a1443-7e07-451e-854a-635337d8c639",
    link: "",
    classImg:"rounded-lg",
    
  },


];

const EXPERIENCE_DATA = [
  {
    date: "Aug. 2020 – Present · 3 years 10 months",
    title: "Generalist Designer",
    company: "Instituto Latinoamericano para una Sociedad y un Derecho Alternativos - ILSA",
    description: "As ILSA's generalist designer, I specialize in web design, editorial design, illustration, branding, photography, and audiovisual production. I have successfully created and maintained a cohesive, harmonious, and distinctive visual identity for the institute, significantly enhancing its market presence. Additionally, I have led key projects that have contributed to the organization's growth and success.",
    link: "#",
  },
  {
    date: "May 2023 – Jul. 2023 · 3 months",
    title: "Web Developer and Design",
    company: "Freelance",
    description:
      "Designed and developed individual WordPress websites, focusing on customized design strategies that highlight clients' professional strengths and create a distinctive brand image within their niche.",
    link: "#",
  },
  {
    date: "Jul. 2022 – Oct. 2022 · 4 months",
    title: "Web Developer and Design",
    company: "Instituto Latinoamericano para una Sociedad y un Derecho Alternativos - ILSA",
    description:
      "I spearheaded the complete redesign of the institute's main website, establishing a robust and strategic corporate visual identity. We implemented effective communication channels with users, consolidated the institutional archive, and defined the aesthetics of the digital platform. This transformative project elevated the company's industry relevance, transitioning from a limited online presence to a platform with 15,000 unique visitors per month. Furthermore, we significantly improved SEO and site performance, ensuring an optimal user experience.",
    link: "#",
  },
  {
    date: "Jul. 2022 – Oct. 2022 · 4 months",
    title: "Photographer and Videographer",
    company:"Renta Fácil",
    description:
      "Provided audiovisual production services, including social media videos, corporate videos, and corporate photography sessions.",
    link: "#",
  },
  {date: "Jul. 2019 – Nov. 2019 · 5 months",
    title: "Digital designer and photographer",
    company:"Aire libre y aventura",
    description:
      "I was part of the Kuerfit team, serving as a video editor, graphic designer, and photographer. I spearheaded the production of the video course 'Strength Training', created promotional videos and flyers for social media and the website, and provided photographic coverage of the 'Corre Chicaque event.'",
    link: "#",
  },
 
];


---

<Layout
  title="Johan Caicedo - Portfolio"
  description="Johan Caicedo - Portfolio"
  image="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Zorrito.png?alt=media&token=35a1b571-7ed0-45be-852d-542823d05bbb"
  url="https://paperfoxstudio.site/"

>
  <main>
    <SectionContainer id="about">
      <h1
        class="text-4xl md:text-5xl font-bold text-primary mb-4 flex flex-row gap-4 dark:text-[#fafaf6]"
      >
        Hey, I'm Camilo
        <a
          href="https://www.linkedin.com/in/johan-caicedo/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center dark:text-[#fafaf6]"
        >
          <Badge
            content="Available for work"
            bgColor="bg-gradient-to-l from-blue-600 to-purple-500"
            textColor="text-[#fafaf6]"
            darkBgColor="dark:bg-bg-gradient-to-l dark:from-blue-900 dark:to-purple-900"
            darkTextColor="text-[#fafaf6]"
          />
        </a>
      </h1>
      
        <h2 class="text-3xl md:text-2xl mb-4 dark:text-[#fafaf6]">
          Digital and multimedia designer with 3 years of professional
          experience.
          <br />
          <span class="text-2xl text-secondary"
            >Design with <strong class="font-semibold text-sky-500 hover:font-black hover:text-sky-800 dark:hover:text-sky-100 transition-all duration-300">soul</strong>, development
            with <strong class="font-semibold text-emerald-600 dark:text-emerald-200 hover:font-mono hover:font-black hover:text-emerald-800 transition-all duration-3000">logic</strong>, animation with <strong
              class="font-semibold text-red-500 hover:font-bold hover:text-red-800 dark:hover:text-red-100 hover:tracking-widest transition-all duration-300">passion</strong
            >.</span
          >
          <br />
          <span class="text-sm">From Bogotá DC, Colombia.</span>
        </h2>
    

      <nav class="flex flex-wrap gap-2 mt-4">
        <SocialPills
          href="https://www.linkedin.com/in/johan-caicedo/"
          client:load
        >
          <LinkedIn class="size-6 mr-1" /> LinkedIn
        </SocialPills>

        <SocialPills href="mailto:camilo.design07@gmail.com" client:load>
          <MailIcon class="size-6 mr-1" /> Mail
        </SocialPills>

        <SocialPills href="https://github.com/JohanCaicedo" client:load>
          <GithubIcon class="size-6 mr-1" /> Github
        </SocialPills>

        <SocialPills href="tel:+573114853833" client:load>
          <WhatsappIcon class="size-6 mr-1" /> Phone
        </SocialPills>
        
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h3
        class="flex gap-2 items-center text-2xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
      >
        <Arrow class="size-6" /> Professional Experience
      </h3>
      <Experience  client:load experience={EXPERIENCE_DATA} />
    </SectionContainer>
    

    <SectionContainer id="projects">
      <section>
        <h3
          class="flex gap-2 items-center text-2xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
        >
          <Bifcase class="size-6" />Seleccted Projects
        </h3>
        <Areas client:load areas={areas}/>
      </section>
    </SectionContainer>

    <SectionContainer id="education">
      <section>
        <h3
          class="flex gap-2 items-center text-2xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
        >
          <Certificate class="size-6" /> Education
        </h3>
        <Card />
        
      </section>
    </SectionContainer>
  </main>
</Layout>
