---
import Layout from "../layouts/Layout.astro";
import { Fragment } from "react";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedInTabler.astro";
import SocialPills from "../components/SocialPills.jsx";
import MailIcon from "../icons/Mail.astro";
import GithubIcon from "../icons/Github.astro";
import PhoneIcon from "../icons/Phone.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Arrow from "../icons/Arrow.astro";
import BentoGrid from "../components/BentoGrid.astro";
import Bifcase from "../icons/Bifcase.astro";
import Certificate from "../icons/Certificate.astro";
import Card from "../components/Card.astro";
import PaperFoxStudioLogo from "../icons/PaperFoxStudioLogo.astro";


---

<Layout
  title="Johan Caicedo - Portfolio",
  description="Johan Caicedo - Portfolio"

>
  <main>
    <SectionContainer id="about">
      <h1 class="text-4xl md:text-5xl font-bold text-primary mb-4 flex flex-row gap-4 dark:text-[#fafaf6]"> 
        Hey, I'm Camilo
        <a 
          href="https://www.linkedin.com/in/johan-caicedo/" 
          target="_blank" 
          rel="noopener"
          class="flex justify-center items-center dark:text-[#fafaf6]"
        >
          <Badge>Available for work</Badge>
        </a>
      </h1>

      <h2 class="text-3xl md:text-2xl mb-4 dark:text-[#fafaf6]">
        Digital and multimedia designer with 3 years of professional experience.
        <br />
        <span class="text-2xl text-secondary">Design with <strong class="font-bold">soul</strong>, development with <strong class="font-bold">logic</strong>, animation with <strong class="font-bold">passion</strong>.
        <br />
        <span class="text-sm">From Bogotá DC, Colombia.</span>
      </h2>

      <nav class="flex gap-2 mt-4">
        <SocialPills href="https://www.linkedin.com/in/johan-caicedo/" client:load>
          <LinkedIn class="size-6 mr-1" /> LinkedIn
        </SocialPills>

        <SocialPills href="mailto:camilo.design07@gmail.com" client:load>
          <MailIcon class="size-6 mr-1" /> Mail
        </SocialPills>
        
        <SocialPills href="https://github.com/JohanCaicedo" client:load>
          <GithubIcon class="size-6 mr-1" /> Github
        </SocialPills>

        <SocialPills href="tel:+573503482505" client:load>
          <PhoneIcon class="size-6 mr-1" /> Phone
        </SocialPills>
        
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h3 class="flex gap-2 items-center text-2xl md:text-3xl font-semibold text-primary mb-6 mt-6 dark:text-[#fafaf6]">
        <Arrow class="size-6" /> Profesional Experience
      </h3>
      <Experience />

      
    </SectionContainer>
    <SectionContainer  id="proyect">
      <section>
        <h3 class="flex gap-2 items-center text-2xl md:text-3xl font-semibold text-primary mb-6 mt-6 dark:text-[#fafaf6]">
          <Bifcase class="size-6" /> My projects
        </h3>
        
        <BentoGrid/></section>
        
    </SectionContainer>
    <SectionContainer  id="Education">
      <section>
        <h3 class="flex gap-2 items-center text-2xl md:text-3xl font-semibold text-primary mb-6 mt-6 dark:text-[#fafaf6]">
          <Certificate class="size-6 box-decoration-clone" /> Education 
        </h3>
        <Card/>
       </section>
        
    </SectionContainer>
  </main>
</Layout>
