---
import Layout from "../layouts/Layout.astro";
import { Fragment } from "react";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedInTabler.astro";
import SocialPills from "../components/SocialPills.jsx";
import MailIcon from "../icons/Mail.astro";
import GithubIcon from "../icons/Github.astro";
import PhoneIcon from "../icons/Phone.astro";
import BehanceIcon from "../icons/Behance.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Arrow from "../icons/Arrow.astro";
---

<Layout
  title="Johan Caicedo - Portfolio",

>
  <main>
    <SectionContainer id="about">
      <h1 class="text-4xl md:text-5xl font-bold text-primary mb-4 flex flex-row gap-4"> 
        Hey, I'm Camilo
        <a 
          href="https://www.linkedin.com/in/johan-caicedo/" 
          target="_blank" 
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for work</Badge>
        </a>
      </h1>

      <h2 class="text-xl md:text-2xl text-secondary mb-8">
        Digital and multimedia designer with 3 years of professional experience.
        <br />
        Design with <strong class="font-bold">soul</strong>, development with <strong class="font-bold">logic</strong>, animation with <strong class="font-bold">passion</strong>.
        <br />
        <span class="text-sm">From Bogotá DC, Colombia.</span>
      </h2>

      <nav class="flex gap-2 mt-4">
        <SocialPills href="https://www.linkedin.com/in/johan-caicedo/" client:load>
          <LinkedIn class="size-6 mr-1" /> LinkedIn
        </SocialPills>

        <SocialPills href="mailto:camilo.design07@gmail.com" client:load>
          <MailIcon class="size-6 mr-1" /> Mail
        </SocialPills>
        
        <SocialPills href="https://github.com/JohanCaicedo" client:load>
          <GithubIcon class="size-6 mr-1" /> Github
        </SocialPills>

        <SocialPills href="tel:+573503482505" client:load>
          <PhoneIcon class="size-6 mr-1" /> Phone CO
        </SocialPills>
        
        <SocialPills href="https://www.behance.net/johanccaicedo" client:load>
          <BehanceIcon class="size-6 mr-1" /> Behance
        </SocialPills>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="flex gap-2 items-center text-2xl md:text-3xl font-semibold text-primary mb-6 mt-6">
        <Arrow class="size-6" /> Profesional Experience
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
