---
import ProjectSection from "../components/ProjectSection.astro"
import Badge from "../components/Badge.astro"
import Bifcase from "../icons/Bifcase.astro"
import ImageGallery from "../components/ImageGallery.astro"

---
<section>
<h1
        class="text-right text-sm md:text-base lg:text-lg font-medium text-[#1e1e1e] dark:text-[#fffdf3] mb-4 mt-6"
      >
        portfolio/illustration
      </h1>
      <ProjectSection
        title="Illustration"
        image="/IllustrationBanner.webp"
        link="https://paperfoxstudio.site/grapic-design"
      />
      <nav class="flex gap-2 mt-4 justify-center mb-4">
        <Badge
          content="Composition 🖼️"
          bgColor="bg-[#e56f45]"
          textColor="text-[#170a08]"
          darkBgColor="dark:bg-[#0c1007]"
          darkTextColor="dark:text-[#81ab43]"
        />
        <Badge
        content="Creativity 💡"
        bgColor="bg-[#f3cf59]"
        textColor="text-[#161208]"
        darkBgColor="dark:bg-[#0c1007]"
        darkTextColor="dark:text-[#81ab43]"
      />
      <Badge
      content="Color 🌈"
      bgColor="bg-[#4e5e37]"
      textColor="text-[#efefef]"
      darkBgColor="dark:bg-[#0c1007]"
      darkTextColor="dark:text-[#81ab43]"
    />
      <Badge
      content="Photoshop 💻"
      bgColor="bg-[#001e36]"
      textColor="text-[#efefef]"
      darkBgColor="dark:bg-[#0c1007]"
      darkTextColor="dark:text-[#81ab43]"
    />
        
      </nav>

      </section>
      <section>
        <h3
          class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fffdf3]"
        >
          <Bifcase class="size-6" />
          Project Examples
        </h3>
     <div class="bg-[#fffdf3] p-4 mt-6 rounded-lg shadow-lg">
             <!-- <h4 class="text-lg font-semibold mb-3">🌤️ Voices in Movement</h4>
       <p class="mt-4 mb-4 text-pretty">
            Photographic coverage of the "Voces en Movimiento" (Voices in
            Movement) event in Necoclí, Antioquia (February 13, 2024). The
            objective was to document the meetings of this women's collective,
            which seeks to empower women in the region through education and
            dialogue on gender issues.
          </p> -->
          <ImageGallery
            images={[
              {
                src: "/Illustration (1).webp",
                alt: "Illustration 1",
                width: 400,
                height: 400,
              },
              {
                src: "/Illustration.webp",
                alt: "Illustration 1",
                width: 400,
                height: 400,
              },
            ]}
            columns={2}
          />
        </div>
      </section>

    </section>