---
import LayoutStudio from '../layouts/LayoutStudio.astro';
import Portfolio from './portfolio.astro';
---
<LayoutStudio title="Paper Fox Studio">
  <main>
    <section>
      <h1>This website it's under construction</h1>
      <p>We working to this site are online soon</p>
      <a href="/portafolio.astro/">Johan Caicedo Portfolio</a> 
    </section>
  </main>
</LayoutStudio>
