---
import LayoutStudio from '../layouts/LayoutStudio.astro';
import ButtonPortfolio from '../components/Button.astro';
---
<LayoutStudio title="Paper Fox Studio"
  description="Paper Fox Studio's web site"
>

  <main class="flex justify-center">
    <section class="w-full lg:w-[740px] mx-auto py-44">
    <section class="flex flex-col items-center">
      <h1 class="text-wihite text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Paper Fox Studio's web site
      </h1>
      <h4 class="text-wihite text-3xl font-bold flex flex-row gap-x-4 pb-4">
        It's under construction</h4>
      <p>We're working to be online as soon as possible</p>
      <div class="mt-10">
        <a href='/camiloPortfolio/'><ButtonPortfolio /></a>
    </div>
    </section>
  </main>


</LayoutStudio>
