---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProjectSection from "../components/ProjectSectionVideo.astro";
import ImageGallery from "../components/ImageGallery.astro";
import Badge from "../components/Badge.astro";
import TargetArrow from "../icons/TargetArrow.astro";
import Bifcase from "../icons/Bifcase.astro";


const images = [
  {
    src: "/Web-Gallery6.webp",
    alt: "Illustration 1",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery7.webp",
    alt: "Illustration 2",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery8.webp",
    alt: "Illustration 3",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery9.webp",
    alt: "Illustration 4",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery10.webp",
    alt: "Illustration 5",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery1.webp",
    alt: "Illustration 6",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery11.webp",
    alt: "Illustration 7",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery5.webp",
    alt: "Illustration 8",
    width: 400,
    height: 400,
  },
  {
    src: "/Web-Gallery12.webp",
    alt: "Illustration 9",
    width: 400,
    height: 400,
  },
];
---

<Layout
  title="Johan Caicedo - Photography"
  description="Johan Caicedo - Photography"
  image="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Photography%20Image.webp?alt=media&token=2f3bcee6-0ff5-4a1c-8ec4-4944542b2c4b"
  url="https://paperfoxstudio.site/photography"
  canonicalURL="https://paperfoxstudio.site/photography"
>
  <SectionContainer>
    <h1
      class="text-right text-xs sm:text-sm md:text-base lg:text-lg font-medium text-[#1e1e1e] dark:text-[#fafaf6] mb-4"
    >
      portfolio/photography
    </h1>
    <ProjectSection
      link=""
      title="Communicating through images"
      videoSrc="/Timelapse 18 de julio 2022.webm"
    />
    <nav class="flex flex-wrap gap-2 mt-4 justify-center mb-4">
      <Badge
        content="Lightroom 💻"
        bgColor="bg-[#e46f4d]"
        textColor="text-[#4a241b]"
        darkBgColor="dark:bg-[#4a241b]"
        darkTextColor="dark:text-[#e46f4d]"
      />
      <Badge
        content="Camera manage 📸"
        bgColor="bg-[#97acc6]"
        textColor="text-[#22282e]"
        darkBgColor="dark:bg-[#22282e]"
        darkTextColor="dark:text-[#97acc6]"
      />
      <Badge
        content="Composition 🖼️"
        bgColor="bg-[#ffe5b6]"
        textColor="text-[#584b2c]"
        darkBgColor="dark:bg-[#584b2c]"
        darkTextColor="dark:text-[#ffe5b6]"
      />
      <Badge
        content="Lightning 💡"
        bgColor="bg-[#a3cda1]"
        textColor="text-[#293329]"
        darkBgColor="dark:bg-[#293329]"
        darkTextColor="dark:text-[#a3cda1]"
      />
    </nav>
    <section class="grid grid-cols-1 md:grid-cols-6 mt-8">
      <p
        class="md:col-start-2 md:col-span-4 bg-[#fafaf6] rounded-lg p-4 md:p-6 shadow-md font-medium text-[#161208] text-sm md:text-base"
      >
        Photography is an essential tool in my work as a designer. It allows me
        to document projects, capture key moments, and communicate ideas
        visually and effectively. Through my images, I strive to convey the
        essence of each project and highlight its impact.
      </p>
    </section>

    <section>
      <h3
        class="flex gap-2 items-center text-2xl md:text-3xl font-bold text-primary mb-4 md:mb-6 mt-6 dark:text-[#fafaf6]"
      >
        <TargetArrow class="size-5 md:size-6" />
        Focus and Applications
      </h3>
    
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        <span>
          <p class="bg-[#f3cf59] text-[#161208] p-4 md:p-6 rounded-lg shadow-md text-sm md:text-base">
            My photographic approach focuses on recording projects and creating
            images that complement my design work. I use photography to:
          </p>
          <ul class="mt-2 md:mt-4 text-sm md:text-base">
            <li class="mt-2 md:mt-4">
              <strong> ✏️ Capture the creative process:</strong> Document the different
              stages of a project.
            </li>
            <li class="mt-2 md:mt-4">
              <strong> 🌟 Immortalize key moments:</strong> Photograph events, meetings,
              and other important moments to create a visual record.
            </li>
            <li class="mt-2 md:mt-4">
              <strong> 💡 Communicate ideas and concepts :</strong> Use images to
              illustrate design concepts, present proposals to clients, and share
              the final result.
            </li>
            <li class="mt-2 md:mt-4">
              <strong>
                📸 Create visual content for marketing and social media:</strong
              > Produce attractive, high-quality photographs to promote projects
              and attract a wider audience.
            </li>
          </ul>
        </span>
        <span class="bg-[#97acc6] p-4 md:p-6 rounded-lg shadow-md text-[#22282e] flex flex-col justify-center h-full">
          <h3 class="text-xl md:text-2xl font-semibold self-start mb-2 md:mb-4">Technical Skills</h3> 
          <ul class="font-semibold space-y-1 md:space-y-2 text-sm md:text-base"> 
            <li>💡 Mastery of composition and lighting techniques.</li>
            <li>🌈 Excellent color management.</li>
            <li>
              📸 Proficiency with professional photography equipment (cameras,
              lenses, lighting).
            </li>
            <li>
              🧑‍💻 Experience in image editing and post-production (Adobe
              Photoshop, Lightroom).
            </li>
          </ul>
        </span>
      </div>
    </section>
    <section>
      <h3
      class="flex gap-2 items-center text-3xl md:text-3xl font-bold text-primary mb-6 mt-6 dark:text-[#fafaf6]"
    >
      <Bifcase class="size-6" />
      Project Examples
    </h3>
    <!-- <ImageGallery images={images} columns={3} /> -->
    </section>
  </SectionContainer>
</Layout>