---
import SectionContainer from "../components/SectionContainer.astro";
import '@fontsource/source-sans-pro';
import '@fontsource-variable/merriweather-sans';
import Layout from "../layouts/Layout.astro";
import IlsaRedesign from "./projects/web-design/Ilsa-redesign.astro";
---

<Layout 
  title="Web Design - Portfolio"
  description="Web Design projects"
  image="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/ILSA-Web-mockup-1.jpg?alt=media&token=48da8e04-a1c3-4fc0-9ac7-6bf135017fc5"
  url="https://paperfoxstudio.site/web-design"
>
  <main>
    <SectionContainer>
      <h1 class="text-right text-sm md:text-base lg:text-lg font-medium text-[#1e1e1e] dark:text-[#fafaf6] mb-4">
        portfolio/web-design
      </h1>
      <IlsaRedesign/>
    </SectionContainer>
  </main>
</Layout>
