---
import SectionContainer from "../components/SectionContainer.astro";
import '@fontsource/source-sans-pro';
import '@fontsource-variable/merriweather-sans';
import Layout from "../layouts/Layout.astro";
import IlsaRedesign from "./projects/web-design/Ilsa-redesign.astro";
import ReactBeforeSliderComponent from 'react-before-after-slider-component';
import 'react-before-after-slider-component/dist/build.css';

const FIRST_IMAGE = {
  imageUrl: 'https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Web-Ilsa-After.webp?alt=media&token=1634c029-6279-4851-a6a2-e6ae661c1347'
};
const SECOND_IMAGE = {
  imageUrl: 'https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Web-Ilsa-Before.webp?alt=media&token=38494af1-ee29-489c-9dae-cac01e430f55'
};


---

<Layout 
  title="Web Design - Portfolio"
  description="Web Design projects"
  image="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/ILSA-Web-mockup-1.jpg?alt=media&token=48da8e04-a1c3-4fc0-9ac7-6bf135017fc5"
  url="https://paperfoxstudio.site/web-design"
>
  <main>
    <SectionContainer>
      <h1 class="text-right text-sm md:text-base lg:text-lg font-medium text-[#1e1e1e] dark:text-[#fafaf6] mb-4">
        portfolio/web-design
      </h1>
      <IlsaRedesign/>
      <section class="flex flex-col gap-4 mt-12">
        <div class="grid grid-cols-2">
          <h5 class="text-xl font-semibold grid-col-start-1 "> Before</h5>
          <h5 class="text-xl font-semibold text-right">After</h5>
        </div>
        
      <ReactBeforeSliderComponent client:load
    firstImage={FIRST_IMAGE}
    secondImage={SECOND_IMAGE}
/>
</div>
</section>
<section>
  
</section>
    </SectionContainer>
  </main>
</Layout>
