<section class="grid grid-cols-6 gap-4">
    <div>
        <div class="col-span-2 col-start-2 bg-black">
            <h4>Let's talk</h4>
            

  
        </div>
        <div class="col-span-2 col-start-4 bg-black">
                <p>Hola</p>
        </div>
    </div>
</section>