---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE =[
    {
        date:"March 2022",
        title:"Marketing UI design in Figma",
        description:"All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
        link:'#',
    },
    {
        date:"March 2022",
        title:"Marketing UI design in Figma",
        description:"All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
        link:'#',
    },
    {
        date:"March 2022",
        title:"Marketing UI design in Figma",
        description:"All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
        link:'#',
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
{
    EXPERIENCIE.map(experience =>(
        <li>
            <ExperienceItem {...experience}/>
        </li>
    ))
}
</ol>

