---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Aug. 2020 – Present · 3 years 10 months",
    title: "Generalist Designer",
    company: "Instituto Latinoamericano para una Sociedad y un Derecho Alternativos - ILSA",
    description:
      "As ILSA's generalist designer, I specialize in web design, editorial design, illustration, branding, photography, and audiovisual production. I have successfully created and maintained a cohesive, harmonious, and distinctive visual identity for the institute, significantly enhancing its market presence. Additionally, I have led key projects that have contributed to the organization's growth and success.",
    link: "#",
  },
  {
    date: "May 2023 – Jul. 2023 · 3 months",
    title: "Web Developer and Design",
    company: "Freelance",
    description:
      "Designed and developed individual WordPress websites, focusing on customized design strategies that highlight clients' professional strengths and create a distinctive brand image within their niche.",
    link: "#",
  },
  {
    date: "Jul. 2022 – Oct. 2022 · 4 months",
    title: "Web Developer and Design",
    company: "Instituto Latinoamericano para una Sociedad y un Derecho Alternativos - ILSA",
    description:
      "I spearheaded the complete redesign of the institute's main website, establishing a robust and strategic corporate visual identity. We implemented effective communication channels with users, consolidated the institutional archive, and defined the aesthetics of the digital platform. This transformative project elevated the company's industry relevance, transitioning from a limited online presence to a platform with 15,000 unique visitors per month. Furthermore, we significantly improved SEO and site performance, ensuring an optimal user experience.",
    link: "#",
  },
  {
    date: "Jul. 2022 – Oct. 2022 · 4 months",
    title: "Photographer and Videographer",
    company:"Renta Fácil",
    description:
      "Provided audiovisual production services, including social media videos, corporate videos, and corporate photography sessions.",
    link: "#",
  },
  {date: "Jul. 2019 – Nov. 2019 · 5 months",
    title: "Digital designer and photographer",
    company:"Aire libre y aventura",
    description:
      "I was part of the Kuerfit team, serving as a video editor, graphic designer, and photographer. I spearheaded the production of the video course 'Strength Training', created promotional videos and flyers for social media and the website, and provided photographic coverage of the 'Corre Chicaque event.'",
    link: "#",
  },
];

---



<ol class="relative border-s border-[1d1735] dark:border-[1d1735]">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
