---
---
<header class="flex flex-col md:flex-row justify-between items-center py-5 mb-10 w-full max-w-[1128px] mx-auto px-4 md:px-0">
  <div class="group relative rounded-full overflow-hidden w-16 h-16"> 
    <a href="https://www.linkedin.com/in/johan-caicedo/" class="block w-full h-full">
      <img
        width="200"
        height="200"
        class="rounded-full w-full h-full object-cover opacity-100 transition-all duration-300 group-hover:opacity-0 group-hover:scale-110"
        src="https://media.licdn.com/dms/image/D4E03AQFmXTu7s8BSog/profile-displayphoto-shrink_200_200/0/1715217947266?e=1721865600&v=beta&t=ecBallBXH7v9OHUYNq_2Ds0jdHGtvhPvZSIhftsE3ps" 
        alt="Logo de Camilo Caicedo"
      />
      <img
        width="200"
        height="200"
        class="rounded-full w-full h-full object-cover absolute top-0 left-0 opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-110"
        src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/PaperFoxStudio-Logo.webp?alt=media&token=b927a951-fec6-4c1d-9293-18c2ffa5594c"
        alt="Logo alternativo de Camilo Caicedo"
      />
    </a>
  </div>
  <nav class="flex flex-col md:flex-row gap-y-2 md:gap-x-10 mt-4 md:mt-0">
    <a href="#top" class="text-center md:text-left">Home</a>
    <a href="#about" class="text-center md:text-left">About</a>
    <a href="#proyect" class="text-center md:text-left">Proyects</a>
    <a href="#experience" class="text-center md:text-left">Experience</a>
    <a href="#contact" class="text-center md:text-left">Contact</a>
  </nav>
</header>
