---
import PFSIcon from "../icons/PaperFoxStudioLogo.astro";
---
<header class="flex justify-between items-center py-5 mb-46 w-[1120px] mx-auto">
    <div class="group relative rounded-full size-16 overflow-hidden"> 
      <a href="https://www.linkedin.com/in/johan-caicedo/">
        <img
        width="200"
        height="200"
        class="rounded-full size-16 opacity-100 transition-all duration-300 group-hover:opacity-0 group-hover:scale-110"
        src="https://media.licdn.com/dms/image/D4E03AQFmXTu7s8BSog/profile-displayphoto-shrink_200_200/0/1715217947266?e=1721865600&v=beta&t=ecBallBXH7v9OHUYNq_2Ds0jdHGtvhPvZSIhftsE3ps" 
        alt="Logo de Camilo Caicedo"
      />
      <a>
      <img
        width="200"
        height="200"
        class="rounded-full size-16 absolute top-0 left-0 opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-110"
        src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/PaperFoxStudio-Logo.webp?alt=media&token=b927a951-fec6-4c1d-9293-18c2ffa5594c"
        alt="Logo alternativo de Camilo Caicedo"
      />
      </a>
        </a>
    </div>
    <nav class="flex flex-row gap-x-10">
      <a href="#top">Home</a>
      <a href="#about">About</a>
      <a href="#proyect">Proyects</a>
      <a href="#experience">Experience</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
