---
import ThemeToggle from "./ThemeToggle";
---

<header class="flex justify-between items-center py-5 mb-10 w-full max-w-[1120px] mx-auto px-4 md:px-0">
  <div class="group relative overflow-hidden w-16 h-16"> 
    <a href="../camiloPortfolio" class="block w-full h-full">
      <img
        width="200"
        height="200"
        class="rounded-full w-full h-full object-cover opacity-100 transition-all duration-300 group-hover:opacity-0 group-hover:scale-110"
        src="https://media.licdn.com/dms/image/D4E03AQFmXTu7s8BSog/profile-displayphoto-shrink_200_200/0/1715217947266?e=1721865600&v=beta&t=ecBallBXH7v9OHUYNq_2Ds0jdHGtvhPvZSIhftsE3ps" 
        alt="Logo de Camilo Caicedo"
      />
      <img
        width="200"
        height="200"
        class="rounded-full w-full h-full object-cover absolute top-0 left-0 opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-110"
        src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Foxy-Blink-NBG.gif?alt=media&token=49a368b2-c0d9-424e-9d45-955a8e905b5e"
        alt="Logo alternativo de Camilo Caicedo"
      />
    </a>
  </div>
  <button id="menu-button" class="block md:hidden">
    <svg class="w-8 h-8 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
  <nav id="menu" class="hidden md:flex flex-col md:flex-row gap-y-2 md:gap-x-10 mt-4 md:mt-0 text-[#1d1735] dark:text-[#fafaf6]">
    <ThemeToggle client:load/>
    <a href="../camiloPortfolio/#about" class="text-center md:text-left">About</a>
    <a href="../camiloPortfolio/#proyect" class="text-center md:text-left">Projects</a>
    <a href="../camiloPortfolio/#experience" class="text-center md:text-left">Experience</a>
    <a href="../camiloPortfolio/#education" class="text-center md:text-left">Education</a>
  </nav>


</header>