---
import ThemeToggle from "../components/ThemeToggle.jsx";
import {Image} from "astro:assets";
---
<div>

<nav class="shadow-mb relative z-10">
    <div class="bg-white dark:bg-[#111827] max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-24 pr-24 pb-3 pt-3 xl:gap-[122px] lg:gap-[30px] md:gap-[10px] sm:gap-[10px] rounded-lg">
      <a   href="../camiloPortfolio"  class="flex items-center space-x-3 rtl:space-x-reverse">
        <p class="text-2xl font-bold text-gray-900 dark:text-white">Design Portfolio</p>
      </a>
        
    </a>


    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="group relative overflow-hidden w-16 h-16" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="rounded-full w-full h-full object-cover opacity-100 transition-all duration-300 group-hover:opacity-0 group-hover:scale-110" src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Camilo-ProfilePhoto.webp?alt=media&token=887bb50e-2fc0-4760-9d9f-339907efc528" alt="Camilo Profile">
          <img class="rounded-full w-full h-full object-cover absolute top-0 left-0 opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-110" src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/Foxy-Blink-NBG.gif?alt=media&token=49a368b2-c0d9-424e-9d45-955a8e905b5e" alt="PaperFoxBlink">
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm font-semibold text-gray-900 dark:text-white">Johan Camilo Caicedo</span>
            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">camilo.design07@gmail.com</span>
            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">311 4853833</span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Curriculum</a>
            </li>
          </ul>
        </div>
        <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
       
        <li>
          <a href="../camiloPortfolio/#about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        
        <li>
          <a href="../camiloPortfolio/#projects"  class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Projects</a>
        </li>
        <li>
          <a href="../camiloPortfolio/#education" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Education</a>
        </li>
        <li>
          <a href="../camiloPortfolio/#experience" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Experience</a>
        </li>
     

  

        <li>
          <ThemeToggle client:load/>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>
  
<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>

