<section class="relative">
    <img
        class="rounded-lg w-full"
        src="../../public/ILSA-Web-mockup.jpg"
        alt="ILSA Web Redesign"
        width="100" 
        height="540"
    />
    <div
        class="absolute top-2 left-2 p-4 text-white rounded-lg"
    >
        <h1 class="text-xl font-bold mb-2 text-right">Web Redesign - ILSA</h1>
        
    </div>
    
</section>
