---
const { title, image, link  } = Astro.props;
import { Image } from 'astro:assets';
---

<section class="relative">
    <a href={link} target="_blank">
    <Image
        class="rounded-lg w-full duration-300 hover:scale-103 transition-transform mt-6"
        src={image}
        alt={title}
        width="950"
        height="475"
        loading="lazy"
    /></a>
    <div
        class="absolute top-2 left-2 p-4 text-white"
    >
        <h1 class="text-xl font-bold mb-2 text-right">{title}</h1>
    </div>
</section>
