<section class="relative">
    <img
        class="rounded-lg w-full"
        src="https://firebasestorage.googleapis.com/v0/b/camilo-portfolio-77b8a.appspot.com/o/ILSA-Web-mockup.jpg?alt=media&token=7e92f3e0-9297-416d-a203-6f84876c39a1"
        alt="ILSA Web Redesign"
    />
    <div
        class="absolute top-2 left-2 p-4 text-white rounded-lg"
    >
        <h1 class="text-xl font-bold mb-2 text-right">Web Redesign - ILSA</h1>
        
    </div>
    
</section>
