---
const { title,description,image} = Astro.props;

export interface Props{
    title:string;
    description:string;
    image:string;
}
---
<div class="row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 p-4 dark:bg-neutral-900">
    <a>
      <img src={image} alt={title} /> 
      <div class="bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
      <h4 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl">{title}</h4>
      <p class="z-10 text-white absolute bottom-0 left-0 p-4">{description}</p> 
    </a>
  </div>
  